:root {
  --background-color: #18191b;
  --sidebar-color: rgb(27, 37, 63);
  --accent-color: #16213e;
  --text-color: #ffffff;
  --button-color: #0084ff;
  --button-hover-color: #0056b3;
  --form-background-color: #2d2d3a;
}

body, html {
  background: linear-gradient(135deg, var(--background-color), var(--accent-color));
  color: var(--text-color);
  font-family: 'Montserrat', sans-serif;
}

* {
  font-family: 'Montserrat', sans-serif;
}

.sidebar {
  width: 60px;
  height: 100vh;
  background-color: var(--sidebar-color);
  position: fixed;
  top: 0;
  left: 0;
  transition: width 0.3s ease;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
}

.sidebar:hover {
  width: 80px;
}

.content {
  margin-left: 80px;
  display: flex;
  flex-direction: row;
  height: 100vh;
}

.left-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1rem;
}

.title {
  align-self: flex-start;
  width: 100%;
  text-align: left;
  margin-top: 30px;
  padding-top: 10px;
  padding-left: 10px;
}

.scenario-form {
  margin-top: auto;
  margin-bottom: auto;
}

.right-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 1rem;
}

.sidebar-logo,
.sidebar-icon {
  cursor: pointer;
  width: 100%;
  text-align: center;
}

textarea, button {
  width: 100%;
  margin-top: 1rem;
  border-radius: 12px;
}

button {
  padding: 10px 20px;
  margin-top: 1rem;
}

@media (max-width: 768px) {
  .App {
    padding-left: 80px;
  }
}
